<div class="banner-2" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.rhumeriedechamarel.com/wp-content/uploads/2015/10/SPECIALS_banner.jpg);">
  <h1><%=@cocktail.name%></h1>
</div>

<div class="container mt-4">
  <h2>Ingredients in <%=@cocktail.name%></h2>
  <% @cocktail.doses.each do |dose| %>
  <p><%= "#{dose.ingredient.name} : #{dose.description} " %>
  <%= link_to 'delete', dose_path(dose),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
   <% end %> </p>

  <p> <%= link_to 'back to all cocktails', cocktails_path, class: "btn btn-flat-2" %>  </p>
  <p> <%= link_to 'add an ingredient', new_cocktail_dose_path(@cocktail), class: "btn btn-flat-2" %> </p>
</div>

</strong>
